<html>
<head>
    <link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <h1>WMDE groups</h1>
    <p>Code for this tool can be found @ <a href="https://github.com/wmde/wmde-access" >https://github.com/wmde/wmde-access</a></p>
    <p>'Live' data on this page is cached for 5 minutes. Some data (Gerrit & Phabricator) is manually maintained.</p>
{{ table_html|raw }}
</body>
</html>
