<html>
<head>
    <link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <link rel="stylesheet" href="main.css">
</head>
<body>
{{ header_html|raw }}
{{ table_html|raw }}
</body>
</html>
